body{
background:linear-gradient(90deg,#FFFF99 0%,#FFFF99 20%,#F0FFFF 20%,#F0FFFF 80%,#FFFF99 80%,#FFFF99 100%);
}
.box1{
	text-align:center;
	position:relative;
	top:100px;
}
.box2{
	text-align:center;
	position:relative;
	top:100px;
}