
.wel{
	text-align:center;
	position:relative;
	top:30px;
    font-family: "fantasy";

}
a{
	text-decoration: none;
	color:#ffffff;
}
body{
background:linear-gradient(90deg,#FFFF99 0%,#FFFF99 20%,#F0FFFF 20%,#F0FFFF 80%,#FFFF99 80%,#FFFF99 100%);
margin:0;
padding:0;
}
.box4{
	position:relative;
	left:21%;
	display:inline-block;
	padding:1em 285px;
	background: #FFFF99;
    border-radius:7px
}
.login1{
    font-color:#ffffff;
	position:absolute;
	top:20px;
	right:20px;
    display: inline-block;
    padding: 0.5em 1em;
    background: #668ad8;
    color: #FFF;
    border-radius: 3px

}

.box5{

    text-align:center top;
    position:relative;
    bottom:150px;
	display:inline-block;
	width:100%;
	height:30px;
    background-color:#808080;







}
.time{
	text-align:center;

}

